body {
  font-family: Inter, "Courier New", Courier, monospace;
  background: linear-gradient(-180deg, #b5b6f2 0%, #efefff 100%);
}

/* <------------------- HEADER BEGINS ---------------------> */
header {
  background-color: white;
  padding: 25px 100px;
}
.logoDigital {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  font-weight: 600;
  letter-spacing: -0.24px;
  font-size: 24px;
  color: #c92071;
}

.logoDigital span {
  padding-left: 5px;
}
/* <---------  --------- HEADER END -----------------------> */

.boxForma {
  width: 750px;
  height: 540px;
  margin: auto;
}

label {
    display: block;
}
hr {
  background-color: #c92071;
  color: #c92071;
border:solid 1px black;
margin: 20px 0 20px 0;
}